.userTable {
  width: 800px;
  border: 1px solid #000000;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.edit_operate {
  position: relative;
  top: 100px;
  width: 600px;;
  border: 1px solid #000000;
  margin: 0 auto;
  text-align: center;
}

.add{
  margin-left: 31%;
}

